{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <article class="post">
        <time class="date">
           Published: {{ post.published_date }}
        </time>
        <p class="author">
            Author: 
            {% if post.author %}
                {{ post.author.username }}
            {% else %}
                Anonymous
            {% endif %}
        </p>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    </br><hr>
  {% endfor %}
{% endblock %}

